* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(132, 132, 223);
}

/* img {
  position: relative;
} */

.fish {
  animation-name: swimming;
  animation-duration: 7s;
  position: relative;
  animation-iteration-count: infinite;
  transform: scale(-1, 1);
  z-index: 2;
}

@keyframes swimming {
  0% {
    left: 0;
    top: 0;
    transform: scale(-1, 1);
  }
  30% {
    left: calc(100% - 405px);
    top: 50px;
    transform: scale(-1, 1);
  }
  35% {
    left: calc(100% - 405px);
    top: 50px;
    transform: scale(1, 1);
  }
  70% {
    left: 0;
    top: calc(100vh - 200px);
    transform: scale(1, 1);
  }
  100% {
    left: 0;
    top: 0;
    transform: scale(-1, 1);
  }
}

.seaplant {
  position: fixed;
  left: 0;
  bottom: 40px;
  width: 30%;
  animation-name: plant;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes plant {
  0% {
    left: 0;
  }
  50% {
    left: 10px;
  }
  100% {
    left: 0;
  }
}

.ground {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.ulitka {
  position: fixed;
  width: 20%;
  z-index: 1;
  right: 50px;
  bottom: 30px;
  animation: slow 5s;
  animation-iteration-count: infinite;
}

@keyframes slow {
  0% {
    right: 50px;
    bottom: 30px;
    transform: scale(1, 1);
  }
  50% {
    right: 350px;
    bottom: 30px;
    transform: scale(1, 1);
  }
  51% {
    transform: scale(-1, 1);
  }
  100% {
    transform: scale(-1, 1);
  }
}
